APP_NAME=Cinder
BUNDLE_ID=com.andersonvictor.cinder

APPLE_ID=
TEAM_ID=
SIGN_IDENTITY="Developer ID Application: Anderson Victor ()"
CSC_NAME="Anderson Victor ()"

NOTARY_PROFILE=Cinder-notary
APPLE_APP_SPECIFIC_PASSWORD=
